
@model dynamic
 
@section Styles{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/subscription.css" />
    <link rel="stylesheet" href="~/css/home.css" />
}

@{
    ViewData["Title"] = "Subscription Page";
}
<div class="p-1">
    <div class="slider">
        @if (Model.Subscription == null)
        {
            
        }
        else
        {
            foreach (var item in Model.Subscription)
            {
                <a class="items" asp-controller="Home" asp-action="Subscription" asp-route-company=@item.CompanyEmail>
                    <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="circle profile image" />
                    <span>@item.CompanyName</span>
                </a>
            }
        }



    </div>
    <hr />

    <div class="content">
        @if (Model.News == null)
        {
            
        }
        else
        {
            foreach (var news in Model.News)
            {
                <div class="card col-md-3">

                    <div class="card-body">
                        @if (news.ImageURL != null)
                        {
                            <img src="@("~/image/" + news.ImageURL)" asp-append-version="true" />
                        }
                        <div class="mt-3">
                            <div id="headline">
                                <span>@news.Headline</span>
                                @*@{
                                    var textArray = @news.Headline.Split(" ");
                                    if (textArray.Length > 6)
                                    {
                                        <span> @string.Join(" ", textArray.Take(6)) ...</span>
                                    }
                                    else
                                    {
                                        <span>@news.Headline</span>
                                    }
                                }*@
                            </div>
                            <div id="post-info">
                                <span id="company">@news.CompanyName</span>
                                <span>@news.PublishDate</span>
                            </div>

                        </div>
                        <p class="card-text">
                            <a asp-action="Details" asp-route-id="@news.NewsId">Read More</a>
                        </p>
                    </div>

                    
                </div>

            }
        }
        

    </div>
